:root{
  --tomatoRed:#FF6347;
  --fireBricks:#B22222;
  --mainWhite:#F3F3F3;
  --mainDark:#232528;
  --mainOrange:#FF4500;
  --mainPink:#FF3376;
}
body{
  font-family: 'Roboto Mono', monospace !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.text-title{
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-red{
  color: var(--tomatoRed);
}
.text-bright{
  color: var(--fireBricks);
}
.btn-black{
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border:0.1rem solid var(--mainDark) !important;
}

.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color:var(--mainOrange);
}
